.lh-keyframes(~'slideInLeft, 0%, 60%, 75%, 90%, 100% {transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% { opacity: 0; transform: translate3d(-2000px, 0, 0); } 100% { transform: none; }');

.lh-keyframes(~'slideOutLeft, 80%{ opacity: 1; transform: translate3d(0, 0, 0); } 100% { opacity: 0; transform: translate3d(-2000px, 0, 0); }');

.ui-menu-panel,
.ui-assets-preview-panel {
  height: 100%;
  width: 100%;

  &.ng-enter,
  &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    .lh-animation(0.3s all);
  }
  &.ng-enter-active {
    .lh-animation-name(slideInLeft);
    z-index: 10;
  }
  &.ng-leave-active {
    .lh-animation-name(slideOutLeft);
  }
}


