//
// Buttons
// --------------------------------------------------


.ui-btn {
  background-image: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 200;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }
}


// Toolbar size variants

.ui-btn-square {
  .ui-button-size-fixed(@ui-tb-square; @ui-tb-square; @ui-btn-square-font-size; @ui-btn-square-line-height);
}

.ui-btn-square-icon-bigger {
  font-size: 30px;
  padding-top: 9px;
}

.ui-btn-square-icon-medium {
  font-size: 28px;
  padding-top: 11px;
}

.ui-btn-square-icon-smaller {
  font-size: 25px;
  padding-top: 12px;
}

.ui-btn-tb-main {
  .ui-button-size-fixed(auto; @ui-tb-square; @ui-panel-main-btn-font-size; @ui-btn-square-line-height);
  padding: @ui-panel-main-btn-padding;
}


// Color variants

.ui-btn-default {
  .ui-button-variant(@ui-btn-default-font-color; @ui-btn-default-font-color-active; @ui-btn-default-bg-color; @ui-btn-default-bg-color-active);
}

.ui-btn-main {
  .ui-button-variant(@ui-panel-main-btn-text; @ui-panel-main-btn-text-active; @ui-panel-main-btn-bg; @ui-panel-main-btn-bg);
}

.ui-btn-main-muted {
  .ui-button-variant(darken(@ui-panel-main-btn-text, 20%); @ui-panel-main-btn-text-active; @ui-panel-main-btn-bg; @ui-panel-main-btn-bg);
}

.ui-btn-main-dark {
  .ui-button-variant(@ui-panel-main-btn-text; @ui-panel-main-btn-text-active; @ui-panel-main-btn-bg-dark; @ui-panel-main-btn-bg-dark);
}

.ui-btn-primary {
  .ui-button-variant(@ui-btn-primary-font-color; @ui-btn-primary-font-color-active; @ui-btn-primary-bg-color; @ui-btn-primary-bg-color-active);
}

.ui-btn-tools {
  .ui-button-variant(@ui-panel-tools-btn-text; @ui-panel-tools-btn-text-active; @ui-panel-tools-btn-bg; @ui-panel-tools-btn-bg);
}
