//
// Dropdowns
// --------------------------------------------------


// Padding around caret for dropdown toggles
.ui-caret-block {
  display: inline-block;
  margin: 0 5px;
}

.ui-caret-block-left {
  margin-right: 0;
}

.ui-caret-block-right {
  margin-left: 0;
}

// The dropdown menu (ul)
.ui-dropdown-menu {
  background-clip: padding-box;
  background-color: @ui-dd-link-bg;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  font-size: @ui-dd-default-font-size;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 160px;
  padding: 8px 0 2px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: @ui-dd-zindex;

  // Dividers within the dropdown
  .divider {
    background-color: @ui-dd-divider-color;
    height: 1px;
    margin: 4px 0 3px 0;
    overflow: hidden;
  }

  // Links within the dropdown menu
  > li > a {
    background-color: @ui-dd-link-bg;
    clear: both;
    color: @ui-dd-link-color;
    display: block;
    font-weight: normal;
    line-height: @ui-dd-line-height;
    padding: 7px 8px 9px 8px;
    white-space: nowrap;
  }
}

// Hover/Focus state
.ui-dropdown-menu > li > a {
  &:hover,
  &:focus {
    background-color: @ui-dd-link-bg-hover;
    color: @ui-dd-link-color-hover;
    text-decoration: none;
  }
}

// Active state
.ui-dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    background-color: @ui-dd-link-bg-active;
    color: @ui-dd-link-color-active;
    outline: 0;
    text-decoration: none;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .ui-dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
.ui-dropdown-menu-right {
  left: auto;
  right: 0;
}

.ui-dropdown-menu-left {
  left: 0;
  right: auto;
}
