//
// Stage - Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.ui-container {
  .ui-container-fixed();

  .ui-mode-xs &,
  .ui-mode-xs-active & {
    width: @ui-container-xs;
  }

  .ui-mode-sm &,
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }

  .ui-mode-md &,
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) {
    width: @container-md;
  }

  .ui-mode-lg &,
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.ui-container-fluid {
  .ui-container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.ui-row {
  .ui-make-row();
}


// Columns
//
// Common styles for small and large grid columns

.ui-make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.ui-make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

.ui-mode-sm &,
.ui-mode-sm-active & {
//@media (min-width: @screen-sm-min) {
  .ui-make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

.ui-mode-md &,
.ui-mode-md-active & {
//@media (min-width: @screen-md-min) {
  .ui-make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

.ui-mode-lg &,
.ui-mode-lg-active & {
//@media (min-width: @screen-lg-min) {
  .ui-make-grid(lg);
}
