//
// Panel design
// --------------------------------------------------

.ui-icon-layout-box {
  @ui-icon-box-size: 32px;

  display: inline-block;
  height: @ui-icon-box-size;
  width: @ui-icon-box-size;
  &:extend(.clearfix all);

  .ui-icon-layout-col {
    background-color: @ui-tile-font-color;
    border-right: 1px solid @ui-tile-bg-color;
    display: block;
    float: left;
    height: @ui-icon-box-size;

    .ui-tile:hover & {
      background-color: @ui-tile-font-color-active;
    }

    &:last-child {
      border-right: none;
    }
  }

  &.ui-icon-layout-1 .ui-icon-layout-col {
    width: percentage(1 / 1);
  }

  &.ui-icon-layout-2 .ui-icon-layout-col {
    width: percentage(1 / 2);
  }

  &.ui-icon-layout-3 .ui-icon-layout-col {
    width: percentage(1 / 3);
  }

  &.ui-icon-layout-4 .ui-icon-layout-col {
    width: percentage(1 / 4);
  }

  &.ui-icon-layout-5 .ui-icon-layout-col {
    width: percentage(1 / 5);
  }

  &.ui-icon-layout-6 .ui-icon-layout-col {
    width: percentage(1 / 6);
  }

  &.ui-icon-layout-8 .ui-icon-layout-col {
    width: percentage(1 / 8);
  }
}
