//
// Panel secondary
// --------------------------------------------------


.ui-panel-secondary {

  .ui-panel-close {
    color: @ui-secondary-close-text-color;
    display: block;
    font-size: @ui-secondary-close-text-color-active;
    height: @ui-secondary-close-size;
    padding-top: 2px;
    position: absolute;
    right: @ui-secondary-close-margin;
    text-align: center;
    top: @ui-secondary-close-margin;
    width: @ui-secondary-close-size;
    z-index: 200;

    &:hover,
    &:active,
    &:focus {
      color: @ui-secondary-close-text-color-active;
    }
  }
}


// Preview

.ui-preview-layout {
  padding: (@ui-secondary-close-size + 2 * @ui-secondary-close-margin) 0 @ui-preview-details-height 0;
}

.ui-preview-details {
  display: block;
  height: @ui-preview-details-height;
  overflow: hidden;
  padding: @ui-preview-details-padding;
  position: absolute;
  text-align: center;
  width: 100%;
  .ui-block-position(bottomleft);
}

.ui-preview-details-name {
  display: block;
  font-size: @ui-preview-details-name-font-size;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-preview-details-meta {

  p {
    font-size: @ui-preview-details-meta-font-size;
    margin: 0;
  }
}


// Image preview

.ui-preview-image {
  display: block;
  height: 100%;
  padding: 0 30px;
  width: 100%;

  img {
    .lh-box-shadow(0 0 12px rgba(0, 0, 0, 0.6));
    max-height: 100%;
    max-width: 100%;
    .lh-translateY(-50%);
    position: relative;
    top: 50%;
  }
}


// Text preview

.ui-preview-text {
  background-color: #fafafa;
  .lh-box-shadow(0 0 12px rgba(0, 0, 0, 0.6));
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
}

.ui-preview-text-paper {
  padding: 15px 30px;

  p {
    color: #111111;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    margin: unit(@line-height-base, em) 0;
    text-align: justify;
  }
}
