//
// Panel - Assets
// --------------------------------------------------

// Header and footer

@ui-assets-toolbar-footer-height: 38px;

.ui-pane-assets {
  padding-bottom: @ui-assets-list-order-height + 1;

  a {
    color: @ui-assets-toolbar-text-color;
    display: inline-block;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: @ui-assets-toolbar-link-hover;
    }
  }
}

.ui-assets-fixed {
  position: absolute;
  display: block;
  width: 100%;
}

.ui-assets-header {
  color: @ui-assets-toolbar-text-color;
  font-size: @ui-assets-toolbar-font-size;
  .ui-block-position(topleft);
}

.ui-assets-view-switch {
  height: @ui-assets-toolbar-footer-height;
  padding: (@ui-tile-margin + 1) @ui-tile-margin 0 @ui-tile-margin;
  text-align: right;

  a {
    display: inline-block;
    margin-left: 5px;
    width: 1em;
    cursor: pointer;
  }
}

.ui-assets-footer {
  background-color: @ui-assets-list-order-bg;
  color: @ui-tile-header-font-color;
  font-size: @ui-assets-item-font-size;
  height: @ui-assets-list-order-height;
  padding: (@ui-tile-margin / 2) @ui-tile-margin 0 @ui-tile-margin;
  .ui-block-position(bottomleft);
}


// Item common

.ui-assets-content {
  &:extend(.clearfix all);
}

.ui-assets-item {
  color: @ui-assets-toolbar-text-color;
  cursor: pointer;
  font-size: @ui-assets-item-font-size;

  &:hover {
    color: @ui-assets-toolbar-link-hover;
  }

  &.highlight {
    background-color: @ui-assets-item-highlight-color !important;
  }
  .ui-assets-item-link {
    display: block;
  }
}

.ui-assets-item-icon,
.ui-assets-item-name,
.ui-assets-item-size,
.ui-assets-item-type,
.ui-assets-item-date {
  display: block;
}

.ui-assets-item-icon {

  img {
    max-height: 100%;
    max-width: 100%;
    .lh-translateY(-50%);
    position: relative;
    top: 50%;
  }
}


// Grid mode

.ui-assets-mode-grid {
  padding-top: @ui-assets-toolbar-footer-height;

  .ui-assets-header .fa:before {
    content: @fa-var-align-justify;
  }

  .ui-assets-ordering,
  .ui-assets-item-size,
  .ui-assets-item-date {
    display: none;
  }

  .ui-assets-item {
    .ui-tile-size(@ui-tb-primary-width; @ui-tile-margin; 2);
    background-color: @ui-tile-bg-color;
    color: @ui-tile-font-color;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0 0 @ui-tile-margin @ui-tile-margin;
    position: relative;
    .lh-user-select(none);

    &:hover {
      color: @ui-assets-toolbar-link-hover;
    }
  }

  .ui-assets-item-type-img {
    @ui-assets-item-square-size: ((@ui-tb-primary-width - 3 * @ui-tile-margin) / 2);
    height: (@ui-assets-item-square-size + 26px);

    .ui-assets-item-icon {
      display: block;
      height: @ui-assets-item-square-size;
      width: @ui-assets-item-square-size;
    }

    .ui-assets-item-name {
      overflow: hidden;
      padding: (@ui-tile-margin / 2) @ui-tile-margin 0 @ui-tile-margin;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ui-assets-item-type-text {
    .ui-tile-size(@ui-tb-primary-width; @ui-tile-margin; 1);
    margin: 0 0 @ui-tile-margin @ui-tile-margin;
    position: relative;

    .ui-assets-item-icon {
      display: none;
    }

    .ui-assets-item-name {
      max-height: @line-height-base * 4em;
      overflow: hidden;
      padding: @ui-tile-margin;
      text-align: left;
    }

    &:after {
      background-color: @ui-color-tb-tools-bg;
      bottom: 0;
      content: '';
      display: block;
      height: @ui-tile-margin - 1;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &.highlight:after {
      background-color: @ui-assets-item-highlight-color !important;
    }
  }

  .ui-assets-item-type-heading {

    .ui-assets-item-name {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}


// List mode

.ui-assets-mode-list {
  padding-top: @ui-assets-toolbar-footer-height + @ui-assets-list-order-height + 1;
  .user-select(none);

  .ui-assets-header .fa:before {
    content: @fa-var-th-large;
  }

  .ui-assets-ordering {
    background-color: @ui-assets-list-order-bg;
    font-size: @ui-assets-item-font-size;
    text-align: center;

    > div {
      border-right: 1px solid @ui-color-tb-primary-bg;
      display: block;
      height: @ui-assets-list-order-height;
      float: left;

      &:last-child {
        border-right: none;
      }
    }

    a {
      color: @ui-tile-header-font-color;
      display: block;
      font-weight: normal;
      height: 100%;
      padding-top: 5px;
      width: 100%;

      &:active,
      &:hover,
      &:focus,
      &.active {
        color: @ui-tile-header-font-color;
        font-weight: bold;
      }
    }
    .ui-asets-order-type-name {
      cursor: pointer;
    }
  }

  .ui-assets-order-type {
    padding-left: @ui-tile-margin;
    text-align: left;
    width: 18%;
  }

  .ui-assets-order-name {
    width: 47%;
  }

  .ui-assets-order-size {
    width: 15%;
  }

  .ui-assets-order-date {
    padding-right: @ui-tile-margin;
    width: 20%;
  }

  .ui-assets-item {
    height: @ui-assets-list-row-height;
    position: relative;
    &:extend(.clearfix all);

    &:nth-child(even) {
      background-color: @ui-assets-list-row-bg;
    }
  }

  .ui-assets-item-name,
  .ui-assets-item-size,
  .ui-assets-item-date {
    float: left;
    overflow: hidden;
    padding-top: 14px;
    white-space: nowrap;
  }

  .ui-assets-item-icon {
    background-color: @ui-color-tb-tools-bg;
    display: block;
    height: @ui-assets-list-icon-size;
    left: @ui-tile-margin;
    margin-top: (@ui-assets-list-icon-size / -2);
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: @ui-assets-list-icon-size;

    .fa {
      font-size: 17px;
      padding-top: 8px;
    }
  }

  .ui-assets-item-name {
    padding-left: (@ui-assets-list-icon-size + 2 * @ui-tile-margin);
    text-align: left;
    text-overflow: ellipsis;
    width: 65%;
  }

  .ui-assets-item-size {
    width: 15%;
  }

  .ui-assets-item-date {
    padding-right: @ui-tile-margin;
    text-align: right;
    width: 20%;
  }
}
