//
// Panel themes
// --------------------------------------------------


// Color sets

.ui-themes-color-set {
  display: block;
  padding: @ui-tile-margin @ui-tile-margin 0 @ui-tile-margin;
}

.ui-themes-color-stripe {
  display: block;
  margin-bottom: (@ui-tile-margin / 2);
  white-space: nowrap;

  .ui-themes-color-block {
    display: inline-block;
    height: @ui-themes-color-block-height;
    width: percentage(1 / 5);
  }
}


// Font sets

.ui-themes-font-set {
  &:extend(.ui-themes-color-set);
}

.ui-themes-font {
  display: block;
  height: 1.1em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: left;
  white-space: nowrap;

  &:after {
    .lh-background-image(linear-gradient(to left, @ui-tile-bg-color 0%,
      rgba(red(@ui-tile-bg-color), green(@ui-tile-bg-color), blue(@ui-tile-bg-color),0)
      100%));
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}

.ui-themes-font-header {
  font-size: 24px;
}

.ui-themes-font-body {
  font-size: 12px;
  margin-bottom: (@ui-tile-margin * 0.75);
}
