//
// Panels
// --------------------------------------------------


// Panels

.ui-panel {
  display: block;
  position: fixed;
  text-align: center;
  &:extend(.clearfix all);
}

.ui-panel-main {
  background-color: @ui-color-tb-main-bg;
  height: @ui-tb-square;
  .ui-block-position(topleft);
  width: 100%;
  z-index: 100;
}

.ui-panel-tools {
  background-color: @ui-color-tb-tools-bg;
  height: 100%;
  padding-top: @ui-tb-square;
  .ui-block-position(topleft);
  width: @ui-tb-square;
  z-index: 90;
}

.ui-panel-primary {
  background-color: @ui-color-tb-primary-bg;
  height: 100%;
  padding: @ui-tb-square 0 0 @ui-tb-square;
  .ui-block-position(topleft);
  width: @ui-tb-primary-width + @ui-tb-square;
  z-index: 80;
}

.ui-panel-secondary {
  background-color: @ui-color-tb-secondary-bg;
  display: block;
  height: 100%;
  left: -@ui-tb-square;
  padding: @ui-tb-square 0 0 (@ui-tb-primary-width + 2*@ui-tb-square);
  top: 0;
  width: 100%;
  z-index: 70;
}

.ui-panel-stage {
  background-color: @ui-stage-default-bg-color;
  height: 100%;
  padding: @ui-tb-square 0 0 (@ui-tb-primary-width + @ui-tb-square);
  .ui-block-position(topleft);
  width: 100%;
  z-index: 10;
}


// Panes

.ui-pane {
  display: block;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  &:extend(.clearfix all);

  &.lock,
  .ui-panel-stage.lock & {
    overflow: hidden;
  }

  &.dim,
  .ui-panel-stage.dim & {
    .lh-opacity(0.2);
//    .lh-blur(7px);
  }
}

.ui-pane-inner {
  display: block;
  position: relative;
  &:extend(.clearfix all);
}

.ui-panel-slot {
  text-align: left;
}

.ui-panel-slot-center-inline {
  display: inline-block;
}
