//
// Panel - Main header toolbar
// --------------------------------------------------

.ui-main-logo {
  display: block;
  height: @ui-tb-square;
  position: relative;
  width: @ui-tb-square;
}

.ui-main-icon-mobile {
  width: 30px;
}

.ui-main-icon-tablet {
  width: 32px;
}

.ui-main-icon-laptop {
  width: 38px;
}

.ui-main-icon-desktop {
  width: 40px;
}

.ui-panel-main {

  .ui-btn-caret {
    border-left: 1px solid darken(@ui-btn-primary-bg-color, 5%);

    .open & {
      border-left-color: @ui-panel-main-btn-bg-dark;
    }
  }

  .ui-dropdown-menu {

    .fa {
      text-align: left;
      width: 20px;
    }
  }

  .ui-dropdown-menu-right,
  .ui-dropdown-main {
    > li > a {
      padding-right: 25px;
    }
  }

  .ui-dropdown-main {
    min-width: @ui-tb-primary-width;
  }

  .ui-btn-group.open {

    .dropdown-toggle {
      background-color: @ui-dd-link-bg-active;
    }
  }
}
