//
// Panel - Tools toolbar
// --------------------------------------------------

.ui-panel-tools {

  .ui-pane-inner {
    padding-bottom: @ui-tb-square;
    min-height: 100%;
  }

  .ui-panel-slot-group {
    margin-bottom: @ui-tb-square;

    &:first-of-type {
      margin-top: @ui-tb-square;
    }
  }

  .ui-panel-slot-group-last {
    .ui-block-position(bottomleft);
    position: absolute;
  }

  .ui-btn.open {
    background-color: @ui-color-tb-primary-bg;
    color: @ui-panel-main-btn-text-active;
  }
}
