//
// Sprites
// --------------------------------------------------

// TODO: Implement sprite task or turn logo to SVG and then to glyphfont (preferred)
.sprite-brand-logo {
  background-color: transparent;
  background-image: url("/images/mf-logo-grey.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  left: 50%;
  margin-left: -17px;
  margin-top: -16px;
  position: absolute;
  top: 50%;
  width: 34px;
}
