//
// Tool tiles
// --------------------------------------------------


// Tile group

.ui-tile-group {
  display: none;   // Accordion hidden/closed by default
  &:extend(.clearfix all);

  &.open {
    display: block;
    margin-bottom: (2.5 * @ui-tile-margin);
  }
}


// Tile

.ui-tile {
  background-color: @ui-tile-bg-color;
  color: @ui-tile-font-color;
  display: block;
  float: left;
  line-height: 1;
  margin: @ui-tile-margin 0 0 @ui-tile-margin;
  overflow: hidden;
  position: relative;
  text-align: center;
  .ui-tile-size-square(@ui-tb-primary-width; @ui-tile-margin; 3);
  .lh-user-select(none);

  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: @ui-tile-bg-color-active;
    color: @ui-tile-font-color-active;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }
}

.ui-tile-wide {
  .ui-tile-size(@ui-tb-primary-width; @ui-tile-margin; 1);
}


// Tile content

.ui-tile-icon {
  font-size: 32px;
  padding-top: 14px;
}

.ui-tile-caption {
  cursor: default;
  font-size: 11px;
  display: block;
  padding-bottom: 8px;
  white-space: nowrap;
  width: 100%;
}

.ui-tile-caption-square {
  position: absolute;
  .ui-block-position(bottomleft);
}


// Tile group header

.ui-tile-header {
  background-color: @ui-assets-list-order-bg;
  border-top: 1px solid transparent;
  color: @ui-tile-header-font-color;
  cursor: pointer;
  display: block;
  font-size: 13px;
  padding: 3px @ui-tile-margin 3px @ui-tile-margin;
  margin: 1px 0 0 0;
  text-align: left;
  &:extend(.clearfix all);
  .lh-user-select(none);

  &:first-child,
  &.open:first-child {
    border-top: none;
    margin-top: @ui-tile-margin;
  }

  .fa:before {
    content: @fa-var-chevron-down;
  }

  &.open {

    .fa:before {
      content: @fa-var-chevron-up;
    }
  }
}

.ui-tile-header-text {
  font-weight: bold;
  .pull-left;
}

.ui-tile-header-status {
  font-size: 0.85em;
  .pull-right;
}
