//
// Panels/Toolbars main colors
// --------------------------------------------------

@ui-color-tb-main-bg: #343434;
@ui-color-tb-main-text: #a09f9f;
@ui-color-tb-tools-bg: #45474a;
@ui-color-tb-primary-bg: #606365;
@ui-color-tb-secondary-bg: #828282;


//
// Grid system
// --------------------------------------------------

@ui-container-xs: 320px;


//
// UI Toolbars and panels main dimensions
// --------------------------------------------------

@ui-tb-square: 48px;
@ui-tb-primary-width: 260px;


//
// UI Toolbars, panels and buttons
// --------------------------------------------------

@ui-btn-default-bg-color: #000000;
@ui-btn-default-font-color: #ffffff;
@ui-btn-default-bg-color-active: #ffffff;
@ui-btn-default-font-color-active: #000000;

@ui-btn-primary-bg-color: #0164a9;
@ui-btn-primary-font-color: #ffffff;
@ui-btn-primary-bg-color-active: lighten(@ui-btn-primary-bg-color, 10%);
@ui-btn-primary-font-color-active: #ffffff;

@ui-btn-square-font-size: 16px;
@ui-btn-square-line-height: 1;


//
// Panel - Main
// --------------------------------------------------

@ui-panel-main-btn-bg: @ui-color-tb-main-bg;
@ui-panel-main-btn-bg-dark: #111111;
@ui-panel-main-btn-text: @ui-color-tb-main-text;
@ui-panel-main-btn-text-active: #ffffff;
@ui-panel-main-btn-padding: 15px 8px 0 8px;
@ui-panel-main-btn-font-size: 19px;


//
// Panel - Tools
// --------------------------------------------------

@ui-panel-tools-btn-bg: @ui-color-tb-tools-bg;
@ui-panel-tools-btn-text: @ui-color-tb-main-text;
@ui-panel-tools-btn-text-active: #ffffff;


//
// Dropdowns
// --------------------------------------------------

@ui-dd-zindex: 200;
@ui-dd-default-font-size: 16px;
@ui-dd-divider-color: @ui-color-tb-main-bg;
@ui-dd-line-height: 1;
@ui-dd-link-color: @ui-panel-main-btn-text;
@ui-dd-link-color-hover: @ui-panel-main-btn-text-active;
@ui-dd-link-bg: @ui-panel-main-btn-bg-dark;
@ui-dd-link-bg-hover: @ui-panel-main-btn-bg-dark;
@ui-dd-link-color-active: @ui-panel-main-btn-text-active;
@ui-dd-link-bg-active: @ui-panel-main-btn-bg-dark;


//
// Tiles
// --------------------------------------------------

@ui-tile-margin: 10px;
@ui-tile-bg-color: @ui-color-tb-tools-bg;
@ui-tile-bg-color-active: @ui-color-tb-tools-bg;
@ui-tile-font-color: @ui-panel-tools-btn-text;
@ui-tile-font-color-active: @ui-panel-tools-btn-text-active;
@ui-tile-header-font-color: darken(@ui-color-tb-tools-bg, 5%);


//
// Theme panel
// --------------------------------------------------

@ui-themes-color-block-height: 36px;


//
// Assets panel
// --------------------------------------------------

@ui-assets-toolbar-text-color: #cccccc;
@ui-assets-toolbar-link-hover: #ffffff;
@ui-assets-toolbar-font-size: 12px;
@ui-assets-item-font-size: 11px;
@ui-assets-item-highlight-color: #284B63;
@ui-assets-list-row-height: 42px;
@ui-assets-list-order-height: 24px;
@ui-assets-list-order-bg: lighten(@ui-color-tb-primary-bg, 7%);
@ui-assets-list-icon-size: 32px;
@ui-assets-list-row-bg: darken(@ui-color-tb-primary-bg, 3%);


//
// Stage
// --------------------------------------------------

@ui-stage-default-bg-color: #ffffff;

//
// Secondary panel
// --------------------------------------------------

@ui-secondary-close-size: 22px;
@ui-secondary-close-margin: 10px;
@ui-secondary-close-text-color: #cccccc;
@ui-secondary-close-text-color-active: #ffffff;
@ui-secondary-close-font-size: 16px;

//
// Preview panel
// --------------------------------------------------

@ui-preview-details-height: 140px;
@ui-preview-details-padding: 20px 30px;
@ui-preview-details-name-font-size: 20px;
@ui-preview-details-meta-font-size: 11px;
