//
// Stage - Visibility Utility classes
// --------------------------------------------------


// Visibility utilities
.ui-visible-xs,
.ui-visible-sm,
.ui-visible-md,
.ui-visible-lg {
  .responsive-invisibility();
}

.ui-visible-xs-block,
.ui-visible-xs-inline,
.ui-visible-xs-inline-block,
.ui-visible-sm-block,
.ui-visible-sm-inline,
.ui-visible-sm-inline-block,
.ui-visible-md-block,
.ui-visible-md-inline,
.ui-visible-md-inline-block,
.ui-visible-lg-block,
.ui-visible-lg-inline,
.ui-visible-lg-inline-block {
  display: none !important;
}

.ui-visible-xs {
  .ui-mode-xs-active & {
//  @media (max-width: @screen-xs-max) {
    .responsive-visibility();
  }
}
.ui-visible-xs-block {
  .ui-mode-xs-active & {
//  @media (max-width: @screen-xs-max) {
    display: block !important;
  }
}
.ui-visible-xs-inline {
  .ui-mode-xs-active & {
//  @media (max-width: @screen-xs-max) {
    display: inline !important;
  }
}
.ui-visible-xs-inline-block {
  .ui-mode-xs-active & {
//  @media (max-width: @screen-xs-max) {
    display: inline-block !important;
  }
}

.ui-visible-sm {
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .responsive-visibility();
  }
}
.ui-visible-sm-block {
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    display: block !important;
  }
}
.ui-visible-sm-inline {
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    display: inline !important;
  }
}
.ui-visible-sm-inline-block {
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    display: inline-block !important;
  }
}

.ui-visible-md {
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .responsive-visibility();
  }
}
.ui-visible-md-block {
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    display: block !important;
  }
}
.ui-visible-md-inline {
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    display: inline !important;
  }
}
.ui-visible-md-inline-block {
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    display: inline-block !important;
  }
}

.ui-visible-lg {
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    .responsive-visibility();
  }
}
.ui-visible-lg-block {
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    display: block !important;
  }
}
.ui-visible-lg-inline {
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    display: inline !important;
  }
}
.ui-visible-lg-inline-block {
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    display: inline-block !important;
  }
}

.ui-hidden-xs {
  .ui-mode-xs-active & {
//  @media (max-width: @screen-xs-max) {
    .responsive-invisibility();
  }
}
.ui-hidden-sm {
  .ui-mode-sm-active & {
//  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .responsive-invisibility();
  }
}
.ui-hidden-md {
  .ui-mode-md-active & {
//  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .responsive-invisibility();
  }
}
.ui-hidden-lg {
  .ui-mode-lg-active & {
//  @media (min-width: @screen-lg-min) {
    .responsive-invisibility();
  }
}
