.ui-panel.ui-panel-tools(ng-controller='UIToolbarCtrl as toolbar')
    .ui-pane
        .ui-pane-inner

            div(
                ng-repeat='slot in toolbar.tools',
                ng-class="{'ui-panel-slot-group': !slot.last, 'ui-panel-slot-group-last': slot.last}"
            )
                div(
                    ng-repeat='tool in slot.tools',
                    ng-switch='tool.type'
                )
                    a(
                        ng-switch-when='link',
                        ng-href='{{tool.action}}'
                    ).ui-btn.ui-btn-square.ui-btn-tools.ui-btn-square-icon-smaller
                        i.fa(ng-class='tool.icon')
                    a(
                        ng-switch-when='state',
                        ng-class="{open: $state.includes('editor' + tool.action)}",
                        ui-sref='{{tool.action}}'
                    ).ui-btn.ui-btn-square.ui-btn-tools.ui-btn-square-icon-smaller
                        i.fa(ng-class='tool.icon')

div(ui-view='').ui-menu-panel
