.ui-panel.ui-panel-primary

    .ui-pane
        .ui-pane-inner

            .ui-tile-header.open(
                ng-repeat-start='group in panelDesign.tools',
                sm-panel-accordion
            )
                .ui-tile-header-text {{group.title}}
                .ui-tile-header-status
                    i.fa

            .ui-tile-group.open(ng-repeat-end)

                .ui-tile(
                    ng-repeat='tool in group.tools',
                    editor-action='tool.action',
                    editor-action-params='tool.params'
                )
                    .ui-tile-icon
                        i.fa(
                            ng-if='tool.icon',
                            ng-class='tool.icon'
                        )
                        .ui-icon-layout-box(
                            ng-if='tool.iconCol',
                            ng-class="'ui-icon-layout-' + tool.iconCol"
                        )
                            .ui-icon-layout-col(ng-repeat='col in panelDesign.times(tool.iconCol)')
                    .ui-tile-caption.ui-tile-caption-square {{tool.title}}
