.ui-panel.ui-panel-secondary

    .ui-pane

        a(ui-sref='^').ui-panel-close
            i.fa.fa-times

        .ui-pane.ui-preview-layout(ng-switch='preview.asset.type')

            .ui-preview-image(ng-switch-when='img')
                img(ng-src='{{preview.asset.url}}', alt='Example')

            .ui-preview-text(ng-switch-when='text')
                .ui-preview-text-paper
                    //-
                      textarea(ng-model='preview.asset.content')
                    p {{preview.asset.content}}

        .ui-preview-details
            .ui-preview-details-name {{preview.asset.name}}
            .ui-preview-details-meta
                p Size: {{preview.asset.size}}Kb
                p Type: {{preview.asset.type}}
                p Last modified: {{preview.asset.modified | date: 'mediumDate'}}
                p Uploaded: {{preview.asset.uploaded | date: 'mediumDate'}}


