.ui-panel.ui-panel-primary

    .ui-pane
        .ui-pane-inner

            .ui-tile-header.open(sm-panel-accordion)
                .ui-tile-header-text Colours
                .ui-tile-header-status
                    i.fa

            .ui-tile-group.open

                .ui-tile.ui-tile-wide
                    .ui-themes-color-set
                        .ui-themes-color-stripe
                            span(style='background-color: #A93A27;').ui-themes-color-block
                            span(style='background-color: #E06838;').ui-themes-color-block
                            span(style='background-color: #FFBD48;').ui-themes-color-block
                            span(style='background-color: #FFFFA0;').ui-themes-color-block
                            span(style='background-color: #1E5B8F;').ui-themes-color-block
                        .ui-tile-caption Summer
                .ui-tile.ui-tile-wide
                    .ui-themes-color-set
                        .ui-themes-color-stripe
                            span(style='background-color: #F21D2F;').ui-themes-color-block
                            span(style='background-color: #F279B2;').ui-themes-color-block
                            span(style='background-color: #0D8BD9;').ui-themes-color-block
                            span(style='background-color: #34BF57;').ui-themes-color-block
                            span(style='background-color: #F2E205;').ui-themes-color-block
                        .ui-tile-caption Concert
                .ui-tile.ui-tile-wide
                    .ui-themes-color-set
                        .ui-themes-color-stripe
                            span(style='background-color: #73D1EB;').ui-themes-color-block
                            span(style='background-color: #3794DB;').ui-themes-color-block
                            span(style='background-color: #5889FF;').ui-themes-color-block
                            span(style='background-color: #2D4296;').ui-themes-color-block
                            span(style='background-color: #3D3952;').ui-themes-color-block
                        .ui-tile-caption Ice

            .ui-tile-header.open(sm-panel-accordion)
                .ui-tile-header-text Font sets
                .ui-tile-header-status
                    i.fa

            .ui-tile-group.open

                .ui-tile.ui-tile-wide
                    .ui-themes-font-set
                        .ui-themes-font(style='font-family: "Helvetica Neue", Helvetica, sans-serif; font-weight: 100;').ui-themes-font-header Title text like this will be used for headers
                        .ui-themes-font(style='font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: normal;').ui-themes-font-body Body text like this will be used in paragraphs
                        .ui-tile-caption Font set name 1
                .ui-tile.ui-tile-wide
                    .ui-themes-font-set
                        .ui-themes-font(style='font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: bold;').ui-themes-font-header Title text like this will be used for headers
                        .ui-themes-font(style='font-family: "Helvetica Neue", Helvetica, sans-serif; font-weight: normal;').ui-themes-font-body Body text like this will be used in paragraphs
                        .ui-tile-caption Font set name 2
                .ui-tile.ui-tile-wide
                    .ui-themes-font-set
                        .ui-themes-font(style='font-family: "Lucida Console", Monaco, monospace; font-weight: bold;').ui-themes-font-header Title text like this will be used for headers
                        .ui-themes-font(style='font-family: "Helvetica Neue", Helvetica, sans-serif; font-weight: 200;').ui-themes-font-body Body text like this will be used in paragraphs
                        .ui-tile-caption Font set name 3

            .ui-tile-header.open(sm-panel-accordion)
                .ui-tile-header-text Spacing
                .ui-tile-header-status
                    i.fa

            .ui-tile-group.open

                .ui-tile
                    .ui-tile-icon
                        i.fa.fa-stop
                    .ui-tile-caption.ui-tile-caption-square Cosy
                .ui-tile
                    .ui-tile-icon
                        i.fa.fa-stop
                    .ui-tile-caption.ui-tile-caption-square Comfy
                .ui-tile
                    .ui-tile-icon
                        i.fa.fa-stop
                    .ui-tile-caption.ui-tile-caption-square Compact
