.ui-panel.ui-panel-primary

    .ui-pane.ui-pane-assets(
        ng-class="{'ui-assets-mode-grid': assets.gridView, 'ui-assets-mode-list': !assets.gridView}")

        .ui-assets-fixed.ui-assets-header
            .ui-assets-view-switch
                | View
                a(ng-click='assets.toggleView()')
                    i.fa.fa-lg
            .ui-assets-ordering.clearfix
                .ui-assets-order-type
                    a(ng-click="assets.order(['type', 'subtype'])").ui-asets-order-type-name Type
                .ui-assets-order-name
                    a(ng-click="assets.order('name')").ui-asets-order-type-name Name
                .ui-assets-order-size
                    a(ng-click="assets.order('size')").ui-asets-order-type-name Size

                .ui-assets-order-date
                    a(ng-click="assets.order('date')").ui-asets-order-type-name Date


        .ui-pane
            .ui-pane-inner
                .ui-assets-content

                    .ui-assets-item(
                        ng-repeat='asset in assets.library | orderBy: assets.ordering: assets.reverse',
                        ng-class="'ui-assets-item-type-' + asset.type + (asset.subtype ? ' ui-assets-item-type-' + asset.subtype : '')"
                    )

                        a(ui-sref='.preview({assetId: asset.id})').ui-assets-item-link

                          .ui-assets-item-icon
                              img(ng-src='{{ asset.url }}', alt='Example', ng-if='asset.url')
                              i.fa.fa-header(ng-if="asset.subtype == 'heading'")
                              i.fa.fa-font(ng-if="asset.type == 'text' && (!asset.subtype)")

                          .ui-assets-item-name(ng-if='asset.url') {{asset.name}}
                          .ui-assets-item-name(ng-if='asset.content') {{asset.content}}
                          .ui-assets-item-size {{asset.size}}Kb
                          .ui-assets-item-date {{asset.modified | date:mediumDate}}
   
        .ui-assets-fixed.ui-assets-footer
            .ui-assets-status-line Showing {{assets.library.length}} of {{assets.library.length}}

div(ui-view='').ui-assets-preview-panel
