.ui-panel.ui-panel-main(ng-controller='UIHeaderCtrl as header')

    .ui-panel-slot.pull-left
        a(href='#').ui-main-logo.pull-left
            .sprite-brand-logo
        .ui-btn-group.pull-left
            a(href='#', data-toggle='dropdown').ui-btn.ui-btn-main.ui-btn-tb-main.dropdown-toggle
                | My Site Name
                .ui-caret-block.ui-caret-block-left
                    i.fa.fa-chevron-down.fa-075x
            ul.ui-dropdown-menu.ui-dropdown-main
                //- TODO: Make a directive for header drop-downs and use it for the other two
                li(ng-repeat='site in header.sites', ng-class='{divider: site.divider}')
                    a(ng-href='{{site.action}}', ng-if='!site.divider')
                        i.fa(ng-if='site.icon', ng-class='site.icon')
                        |  {{site.title}}

    .ui-panel-slot.ui-panel-slot-center-inline
        a(ng-repeat='device in header.devices', ng-href='{{device.action}}', ng-class='device.style').ui-btn.ui-btn-square.ui-btn-main-muted
            i.fa(ng-class='device.icon')

    .ui-panel-slot.pull-right

        .ui-btn-group.pull-left
            a(ng-href='{{header.pageTools.button.action}}').ui-btn.ui-btn-main.ui-btn-tb-main.ui-btn-primary {{header.pageTools.button.title}}
            a(href='#', data-toggle='dropdown').ui-btn.ui-btn-main.ui-btn-tb-main.ui-btn-primary.ui-btn-caret.dropdown-toggle
                i.fa.fa-chevron-down.fa-075x
            ul.ui-dropdown-menu.ui-dropdown-menu-right
                li(ng-repeat='nav in header.pageTools.nav')
                    a(ng-href='{{nav.action}}')
                        i.fa(ng-class='nav.icon')
                        |  {{nav.title}}

        .ui-btn-group.pull-left
            a(href='#', data-toggle='dropdown').ui-btn.ui-btn-square.ui-btn-main.ui-btn-square-icon-smaller.dropdown-toggle
                i.fa.fa-navicon
            ul.ui-dropdown-menu.ui-dropdown-menu-right
                li(ng-repeat='item in header.appMenu', ng-class='{divider: item.divider}')
                    a(ng-href='{{item.action}}', ng-if='!item.divider')
                        i.fa(ng-if='item.icon', ng-class='item.icon')
                        |  {{item.title}}
