//
// UI Button variants
// --------------------------------------------------

.ui-button-variant-mixin(@color; @color-active: @color; @background; @background-active) {
  color: @color;
  background-color: @background;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .ui-panel-toggle& {
    color: @color-active;
    background-color: @background-active;
  }

  &:active,
  &.active,
  .open > .ui-panel-toggle& {
    background-image: none;
  }
}

.ui-button-variant(@color; @background) {
  @background-active: lighten(@background, 10%);
  @color-active: contrast(@background-active);
  .ui-button-variant-mixin(@color; @color-active; @background; @background-active);
}

.ui-button-variant(@color; @color-active: @color; @background; @background-active) {
  .ui-button-variant-mixin(@color; @color-active; @background; @background-active);
}


// Button sizes

.ui-button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
}

.ui-button-size-fixed(@width; @height; @font-size; @line-height) {
  font-size: @font-size;
  height: @height;
  line-height: @line-height;
  width: @width;
}
