//
// Media Queries Mixin Utilities
// --------------------------------------------------


// Break point and up

.ui-media-sm-and-up(@rules) {
  @media (min-width: @screen-sm-min) {
    @rules();
  }
}

.ui-media-md-and-up(@rules) {
  @media (min-width: @screen-md-min) {
    @rules();
  }
}

.ui-media-lg-and-up(@rules) {
  @media (min-width: @screen-lg-min) {
    @rules();
  }
}


// Range only

.ui-media-xs-only(@rules) {
  @media (max-width: @screen-xs-max) {
    @rules();
  }
}

.ui-media-sm-only(@rules) {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    @rules();
  }
}

.ui-media-md-only(@rules) {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    @rules();
  }
}

.ui-media-lg-only(@rules) {
  @media (min-width: @screen-lg-min) {
    @rules();
  }
}
