//
// Block position helper mixins
// --------------------------------------------------

.ui-block-position (@pos) when (@pos = topleft) {
  left: 0;
  top: 0;
}

.ui-block-position (@pos) when (@pos = topright) {
  right: 0;
  top: 0;
}

.ui-block-position (@pos) when (@pos = bottomleft) {
  bottom: 0;
  left: 0;
}

.ui-block-position (@pos) when (@pos = bottomright) {
  bottom: 0;
  right: 0;
}
