//
// Tool tiles mixins
// --------------------------------------------------


.ui-tile-size(@width; @margin; @cols) {
  @tile-size: (@width - (@cols + 1) * @margin) / @cols;
  height: auto;
  margin: @margin 0 0 @margin;
  width: @tile-size;
}

.ui-tile-size-square(@width; @margin; @cols) {
  @tile-size: (@width - (@cols + 1) * @margin) / @cols;
  .ui-tile-size(@width; @margin; @cols);
  height: @tile-size;
}
