.buttons(style='height: 100%;width: 50px;background-color:#bbb;float:left;')
  ul(ng-repeat='button in buttons' style='padding:0')
    li(style='list-style-type:none')
      a(ui-sref='{{button.sref}}').ui-btn {{button.name}}
.menu-pane(ui-view='' style='float:left;height:100%;background-color:#ccc;')
