doctype html
html(lang='en', ng-app=angular.mainModule)

    head
        meta(charset='utf-8')
        title(ng-bind="$state.current.name + ' - SM7'") SM7
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content=pkg.description)
        meta(name='author', content=pkg.copyright)
        link(href='/styles/editor.css', rel='stylesheet')

    body

        div(ui-view='header')

        div(ui-view='app')

        script(src='/scripts/libs.js')
        script(src='/scripts/app.js')
        script(src='/scripts/resources.js')
